*{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}
.main{
	position: relative;
	width: 100%;
	height: 75px;
	background-color: #FFB9B9;
	background-size: cover;
	background-position: center;
}
.logo{
	height: 20%;
	color: #000000;
	padding: 13px;
	font-size: 25px;
}
.gif{
	display: flex;
	align-items: center;
}
.gif img{
	width: 30%;
	padding-top: 5pc;
	padding-left: 5pc;
	margin-right: 8pc;
}
.gif .about{
	font-size: 20px; 
	padding-right: 5pc;
	font-family: 'Space Mono', monospace;
/*	font-family: 'Red Hat Display', sans-serif;
*/}
.gif .about ol{
	padding-top: 50px;
}
.manage{
	text-align: center;
	padding-top: 100px;
	font-size: 15px;
}
/*.veticle-line{
	border-left: 1px solid black;
	height: 300px;
	position: absolute;
	left: 50%;
	/*margin-top: 10pc;*/
}*/
.click button{
	padding-left: 100px;
	font-size: 100px;
	padding: 10px;
	margin: 20px;
	background-color: red;
	position: absolute;
	/*transform: translate(-50%, -50%);*/
	justify-content: center;
}

footer{
	position: relative;
	/*width: 100%;*/
	background: #474E68;
	min-height: 500px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer .social_icon,
footer .menu
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}
footer .social_icon .icon{
	margin: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 2;
	cursor: pointer;
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .social_icon .icon li{
	position: relative;
	height: 45px;
	width: 45px;
	display: block;
	background: #fff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	border-radius: 50%;
	z-index: 2;
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .social_icon .icon li ion-icon{
	font-size: 23px;
	padding-top: 10px;
	text-align: center;
	line-height: 120px;
}
footer .social_icon .icon:hover li ion-icon{
	color: #fff;
}
footer .social_icon li,
footer .menu
{
	list-style: none;
	
}
footer .social_icon .icon .tooltip{
	position: absolute;
	background: #fff;
	font-size: 15px;
	padding: 10px 18px;
	border-radius: 25px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
footer .social_icon .icon:hover .tooltip{
	top: -45px;
	opacity: 1;
	pointer-events: auto;
}
footer .social_icon .icon .tooltip: before{
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	background: red;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
}
footer .social_icon .icon:hover li,
footer .social_icon .icon:hover .tooltip,
{
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
footer .social_icon .facebook:hover li,
footer .social_icon .facebook:hover .tooltip,
footer .social_icon .facebook:hover tooltip:before{
	background: #3B5999;
}
footer .social_icon .linkedin:hover li,
footer .social_icon .linkedin:hover .tooltip,
footer .social_icon .linkedin:hover tooltip:before{
	background: #0072B1;
}
footer .social_icon .instagram:hover li,
footer .social_icon .instagram:hover .tooltip,
footer .social_icon .instagram:hover tooltip:before{
	background: #e1306c;
}
footer .social_icon .github:hover li,
footer .social_icon .github:hover .tooltip,
footer .social_icon .github:hover tooltip:before{
	background: #333;
}
/*footer .social_icon li a{
	font-size: 2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}*/
/*footer .social_icon li a:hover{
	transform: translateY(-10px);
}*/
footer .menu li a{
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
}
footer .menu li a:hover{
	opacity: 1;
}
footer p{
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
}
footer .Presented span{
	color: #fff;
	margin-top: 10pc;
}
